
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #12121b;
    padding: 100px;
    color: aliceblue;
}

header{
    background-color: aquamarine;;
}

.container {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 26, 255);
    transition: 0.3s;
    max-width: 400px;
    margin: auto;
}

.bad {
    box-shadow: 0 0 15px red !important;
    transition: 0.3s;
}

.good {
    box-shadow: 0 0 15px rgb(0, 255, 55) !important;
    transition: 0.3s;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.calcular 
{ 
    background: #00d33141; 
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.calcular:hover {background: #28a746e8; box-shadow: 0 0 15px #009b40; transition: 0.5s;}

.limpar 
{
    background: #b1021438;
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.limpar:hover {background: #e22134; box-shadow: 0 0 15px #ff0000; transition: 0.5s;}
#resultado {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

input {background: #12121b; color: white;}
input::placeholder {color: white;}

/* Responsividade */
@media (max-width: 580px) {
    
    body {
        padding-top: 100px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .container {
        border-radius: 20px;
    }

}
